@font-face {
    font-family: 'Kiona';
    src: url('../../Fonts/Kiona-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.landingPage {
    width: 135vw;
    height: 100vh;
    background-color: black;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -50vh;
    left: -46vw;
    z-index: 1000;
    pointer-events: none;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.hide {
    animation: fadeOut 4s;
    animation-fill-mode: forwards;
}

.landingPage_button {
    padding: 15px 10px;
    font-size: 16px;
    letter-spacing: 25px;
    border: 0.1rem solid white;
    background: none;
    color: white;
    font-family: 'Kiona';
    font-weight: normal;
    pointer-events: all;
}

.landingPage_button:hover {
    cursor: pointer;
    border: 0.2rem solid white;
    font-weight: bold;
}

/* Sound UI */
.sound-player-container {
    position: absolute;
    bottom: -48vh;
    left: -25vw;
}

.sound-icon {
    filter: invert(100%);
    border: 2px solid black;
    padding: 5px;
    background-color: white;
    width: 30px;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

.sound-icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 1220px) {
    .landingPage {
        left: -66vw;
    }
    .sound-player-container {
        bottom: -48vh;
        right: -110vw;
    }
}