@font-face {
    font-family: 'Cinzel';
    src: url('../../../Fonts/Cinzel-Regular.woff2') format('woff2'), url('../../../Fonts/Cinzel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../../../Fonts/BebasNeue-Regular.woff') format('woff'), url('../../../Fonts/BebasNeue-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BebasNeue-Light';
    src: url('../../../Fonts/BebasNeue-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bricktown';
    src: url('../../../Fonts/Bricktown.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../../../Fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto-Bolder';
    src: url('../../../Fonts/Roboto.ttf') format('truetype');
    font-weight: normal;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.intro {
    display: block;
    position: absolute;
    width: 45vw;
    height: fit-content;
    top: 0;
    right: 0;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(2, 2, 2) 100%);
    padding-top: 25vh;
    justify-content: left;
    text-align: left;
    opacity: 0;
}

.shown {
    opacity: 1;
    animation: fadeIn 10s;
    animation-fill-mode: forwards;
}

.header-fadeOut {
    position: fixed;
    width: 45vw;
    height: 25vh;
    background: linear-gradient(black 60%, transparent 100%);
    top: 0;
}

.project-overview {
    width: fit-content;
    height: 5vh;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.project-overview>li {
    font-family: 'BebasNeue-Light', sans-serif;
    letter-spacing: 3px;
    font-size: 20px;
    margin-right: 3vw;
}

.project-overview>li:hover,
.active-project {
    cursor: pointer;
    font-family: 'BebasNeue', sans-serif;
    border-bottom: 4px solid white;
}


/* Project desc */

.project-description {
    text-align: left;
    align-items: flex-start;
    justify-content: left;
}

.project-description-title {
    font-family: 'Bricktown', sans-serif;
    font-size: 60px;
    margin: 0 0 15px;
}

.project-description-text {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 18px;
    width: 30vw;
}

.project-description-img {
    filter: grayscale(100%);
    width: 90%;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.project-description-img:hover {
    filter: grayscale(0%);
    transform: scale(1.02);
}

.hr-project {
    width: 30vw;
    margin: 4vh 0;
    border-color: rgb(43, 43, 43);
}


/* Responsive for smaller screens */

@media screen and (max-width: 1220px) {
    .intro {
        width: 90vw;
        height: 90vh;
        top: 100vh;
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgb(2, 2, 2) 100%);
    }
}