@font-face {
    font-family: 'Cinzel';
    src: url('../../Fonts/Cinzel-Regular.woff2') format('woff2'), url('../../Fonts/Cinzel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.navbar-container {
    display: flex;
    justify-content: center;
}

#navbar {
    position: fixed;
    top: 45px;
    width: 85vw;
    height: 75px;
    line-height: 75px;
    padding: 5px;
    padding-left: 150px;
    padding-right: 150px;
    z-index: 1;
    /* Gradient 
    background: linear-gradient(90deg, rgba(25, 25, 25, 0.5) 0%, rgba(13, 13, 13, 0.5) 73%, rgba(8, 8, 8, 0.5) 100%);
    */
    /* Fit contents to width */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: none;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
}

a:-webkit-any-link {
    text-decoration: none;
}

.navbar-item {
    background: none;
    border: none;
}

.navbar-item:hover,
.navbar-active-item {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
    text-decoration-color: white;
}

.nav-Font {
    color: rgb(238, 238, 238);
    font-size: 20px;
    font-family: 'Cinzel';
    font-weight: normal;
    font-style: normal;
}

.arrow {
    position: absolute;
    border: solid white;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 12px;
    z-index: 2;
    margin-top: 20px;
    cursor: pointer;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}


/* Responsive for smaller screens */

@media screen and (max-width: 1000px) {
    #navbar {
        display: none;
        padding-top: 5vh;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.75);
        height: 85vh;
        width: 600px;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 35%, rgba(0, 0, 0, 0.75) 65%, rgba(0, 0, 0, 0) 100%);
    }
}