@font-face {
    font-family: 'Cinzel';
    src: url('../../Fonts/Cinzel-Regular.woff2') format('woff2'), url('../../Fonts/Cinzel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../../Fonts/BebasNeue-Regular.woff') format('woff'), url('../../Fonts/BebasNeue-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BebasNeue-Light';
    src: url('../../Fonts/BebasNeue-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.navbar-container {
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1;
    display: none;
    justify-content: right;
}

.shown {
    display: flex;
    animation: fadeIn 10s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#navbar {
    position: fixed;
    top: 30px;
    width: 60vw;
    height: 75px;
    line-height: 75px;
    padding: 5px;
    padding-left: 125px;
    padding-right: 50px;
    z-index: 1;
    background: linear-gradient(90deg, rgba(13, 15, 20, 0.9) 0%, rgba(16, 18, 20, 0.5) 73%, rgba(8, 8, 8, 0.5) 100%);
    /* Fit contents to width */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
}

hr {
    position: absolute;
    top: 63px;
    width: 26vw;
    left: 6vw;
    z-index: 2;
    border-color: rgb(90, 90, 90);
}

a:-webkit-any-link {
    text-decoration: none;
}

.navbar-item {
    background: none;
    border: none;
    transition: all .2s ease-in-out;
}

.navbar-item:hover,
.navbar-active-item {
    cursor: pointer;
    border-bottom: 3px solid white;
    transform: scale(1.1);
}

.nav-Font {
    color: rgb(238, 238, 238);
    font-size: 20px;
    font-family: 'BebasNeue-Light';
}

.heavy {
    font-size: 20px;
    font-family: 'BebasNeue';
    padding-right: 10px;
}

.starburst {
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 50px;
    width: 45px;
    height: auto;
    transition: all .2s ease-in-out;
}

.starburst:hover {
    transform: scale(1.2);
}

/* Responsive for smaller screens */

@media screen and (max-width: 1000px) {
    #navbar {
        display: none;
        padding-top: 5vh;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.75);
        height: 85vh;
        width: 600px;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 35%, rgba(0, 0, 0, 0.75) 65%, rgba(0, 0, 0, 0) 100%);
    }
}