@font-face {
    font-family: 'Cinzel';
    src: url('../../Fonts/Cinzel-Regular.woff2') format('woff2'), url('../../Fonts/Cinzel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.navbar-container {
    display: flex;
    justify-content: center;
}

.navbar {
    position: fixed;
    top: 30px;
    width: 85vw;
    height: 75px;
    line-height: 75px;
    padding: 5px;
    padding-left: 150px;
    padding-right: 150px;
    z-index: 1;
    /* Gradient 
    background: linear-gradient(90deg, rgba(25, 25, 25, 0.5) 0%, rgba(13, 13, 13, 0.5) 73%, rgba(8, 8, 8, 0.5) 100%);
    */
    /* Fit contents to width */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
}

a:-webkit-any-link {
    text-decoration: none;
}

.navbar-item {
    background: none;
    border: none;
}

.navbar-item:hover,
.navbar-active-item {
    text-decoration: underline;
    text-underline-offset: 30px;
    text-decoration-thickness: 3px;
    text-decoration-color: white;
}

.nav-Font {
    color: rgb(238, 238, 238);
    font-size: 20px;
    font-family: 'Cinzel';
    font-weight: normal;
    font-style: normal;
}