.App {
    font-family: sans-serif;
    text-align: center;
    height: 100vh;
    width: 65vw;
}

body {
    padding: 0;
    margin: 0;
    background: black;
    color: white;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 6px;
}

.moonTxt {
    margin-top: 30px;
    margin-left: 80px;
}

.earthTxt {
    margin-top: 90px;
    margin-left: 190px;
}


/* Loading screen style */

.loading {
    position: fixed;
    top: 0;
    left: -90px;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 9999;
}