.App {
    font-family: sans-serif;
    text-align: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.App-active {
    width: 55vw!important;
}

body {
    padding: 0;
    margin: 0;
    background: black;
    color: white;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 6px;
}

.moonTxt {
    margin-top: 30px;
    margin-left: 80px;
}

.earthTxt {
    margin-top: 90px;
    margin-left: 190px;
}


/* Loading screen style */

.loading {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    left: -50vw;
    top: -50vh;
    background: #000;
    z-index: 9999;
}

.loading-img {
    width: 200px;
    margin: auto;
}

/* Mobile display */
@media screen and (max-width: 1220px) {
    .App {
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100vw;
        height: 100vh;
    }

    .App-active {
        width: 100vw!important;
    }

    .loading-img {
        width: 200px;
        display: block;
        margin: auto;
    }
}